<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Log Viewer</span>
  </a>
  <hr>
  <div class="card">
    <div class="card-header">Filter</div>
    <div class="card-body">
      <form [formGroup]="filterForm" novalidate>
        <div class="mb-3">
          <label for="level" i18n>Log Level</label>
          <ng-select [multiple]="true" formControlName="level" placeholder="Any">
            <ng-option value="panic">panic</ng-option>
            <ng-option value="fatal">fatal</ng-option>
            <ng-option value="error">error</ng-option>
            <ng-option value="warning">warning</ng-option>
            <ng-option value="info">info</ng-option>
            <ng-option value="debug">debug</ng-option>
            <ng-option value="trace">trace</ng-option>
          </ng-select>
        </div>
        <div class="mb-3">
          <label for="service" i18n>Service</label>
          <ng-select [multiple]="true" formControlName="service" placeholder="Any">
            <ng-option *ngFor="let service of services" [value]="service">{{service}}</ng-option>
          </ng-select>
        </div>
        <div class="mb-3">
          <label for="id" i18n>ID</label>
          <ng-select formControlName="id" placeholder="Any">
            <ng-option *ngFor="let id of ids" [value]="id">{{id}}</ng-option>
          </ng-select>
        </div>
        <button class="btn btn-sm btn-danger" (click)="clearLogs()">Clear Logs</button>
      </form>
    </div>
  </div>
</div>

<div class="d-flex flex-fill p-3">
  <cdk-virtual-scroll-viewport #virtualScroll itemSize="50" style="height: 100%;" class="w-100 viewport" (scroll)="isUserNearBottom()">
    <div class="list-group">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex item">
          <div class="level">Level</div>
          <div class="time">Time</div>
          <div class="service">Service</div>
          <div class="id">ID</div>
          <div class="message">Message</div>
        </div>
      </div>
      <ng-container *cdkVirtualFor="let log of filteredLogs" #item>
        <a (click)="toggleData(log)" class="list-group-item list-group-item-action"
          [class.table-danger]="log.level==='panic'||log.level==='fatal'||log.level==='error'"
          [class.list-group-item-warning]="log.level==='warning'" [class.list-group-item-info]="log.level==='info'"
          [class.list-group-item-light]="log.level==='debug'">
          <div class="d-flex item">
            <div class="level">
              <span class="badge" [class.bg-danger]="log.level==='panic'||log.level==='fatal'||log.level==='error'"
                [class.bg-warning]="log.level==='warning'" [class.bg-info]="log.level==='info'"
                [class.bg-light]="log.level==='debug'"
                [class.text-dark]="log.level==='warning'||log.level==='info'||log.level==='debug'">{{ log.level }}</span>
            </div>
            <div class="time">
              {{ log.time | date:'HH:mm:ss:SSS' }}
            </div>
            <div class="service">
              {{ log.data?.service }}
            </div>
            <div class="id">
              {{ log.data?.id }}
            </div>
            <div class="message">
              {{ log.message }}
            </div>
          </div>
          <ng-container *ngIf="log.showData">
            <code class="mt-2 d-block">
              <pre class="m-0">{{ log.data | json }}</pre></code>
          </ng-container>
        </a>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
